body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ccc;
}

.header-container {
    background-color: rgb(60, 60, 60);
    margin-bottom: 40px;
    position: fixed;
    width: 100%;

}

header .desktop_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    min-height: 100px;
}

.logo {
    font-size: 32px;
    color: white;
    font-family: fantasy;
    text-transform: uppercase;
}

a {
    color: white;
    text-decoration: none;
}

.mobile_menu {
    display: none;
}

.desktop_menu {
    display: block;
    
}


.burger_menu {
    display: none;
}

.my-button {
    padding: 10px 25px;
    border-style: solid;
    border-width: 1px;
    margin-left: 20px;
}

.my-button:hover {
    color: black;
    background-color: rgb(43, 236, 47);
}

.container {
    max-width: 1024px;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 1024px;
    min-height: 500px;
    margin: 0 auto;
    padding-top: 140px;

}

.card {
    width: 30%;
    margin-bottom: 40px;
    background-color: rgb(43, 236, 47);

}

.card img {
    width: 100%;
    height: auto;
}

.card p {
    color: #fff;
    font-size: 0.875rem;
    padding: 20px 25px;
    line-height: 1.25rem;
}

.card p::first-line {
    font-weight: bold;
}

.hide-desktop-only {
    display: none;
}

/* @media(max-width:1000px) {
    .card {
        width: 45%;
    }

    .hide-desktop-only {
        display: block;
    }
} */

@media(max-width:900px) {
    header {
        display: block;
        text-align: center;
        padding: 20px 20px;
    }

    .container {
        /* padding-top: 300px; */

    }

    nav {
        display: none;
    }

    header .desktop_menu{
        display: none;
    }

    .mobile_menu {
        display: block;
    }
    .mobile_menu_bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .burger_menu {
        color: white;

    }

    .burger_menu {
        display: block;
    }

    .burger_nav a {
        display: block;

    }

    .logo {
        padding: 30px 0px;
    }

    .my-button {
        margin-left: 0;
    }

    .card img {}

    .card {
        width: 45%;
        margin-bottom: 80px;
    }

    .hide-desktop-only {
        display: block;
    }

}